

<div style="text-align: center; font-family: 'Oleo Script', cursive; font-weight: bold; margin-top: 130px; color: #FE8914; padding-right: 3px; "><h1>QOURA</h1></div><br>

	<center>
<a class = "btn btn-outline-success"   href="/login">Login</a><br><br>


<a class="btn btn-outline-success" " href="/register">Sign Up Here</a><br><br>


<a class="btn btn-outline-dark" style="font-weight: bold; color: black; " href="/index">Shortcut Here</a>
	</center>

